
.last_name{
    color: red;
}

.current{
    font-weight: bold;
    color:red;
    text-decoration: underline;
}

.blog{
    font-style: oblique;
    color: orange;
}

.description{
    font-style: italic;
    font-size: 16px;/*ukuran font*/
    font-weight: 400;/*Ketebalan font*/
    line-height: 1.5;/*Jarak antar baris*/
    letter-spacing: 0.5px;/*jarak antar huruf*/
    color: rgba(108, 117, 125, 0.8);/*pemberian warna*/
}

.underline{
    display: inline-block;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}

.hobi-card{
    background: rgba(235, 226, 226, 0.8);
    font-style: italic;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}